body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.asterisk_input::after {
  content:" *";
  color: #e32;
  position: absolute;
  margin: 0px 0px 0px -20px;
  font-size: xx-large;
  padding: 0 5px 0 0; }

textarea {
  resize: vertical;
  width: 100%;
}
